configstore/
htop/
QtProject/
yarn/
gocode/
gtk-2.0/
Unreal Engine/
gcloud/

*.backup
filezilla/
neofetch/
nvim.old/
nvim/autoload/
nvim/ftdetect/
nvim/ftplugin/
nvim/plugged/
nvim/plugin/
nvim/syntax/
.mono
NuGet
wireshark
xbuild
stetic
pgcli
